<app-head></app-head>

<app-formulario></app-formulario>

<div class="contenedor limpiarEstilos">
  <div class="ingreso">
    <h2 class="ingreso_titulo">Ingresos</h2>
    <app-ingresos
      *ngFor="let item of ingresos; let indice = index"
      [ingreso]="item"
      [i]="indice"
    ></app-ingresos>
  </div>

<div class="egreso">
    <h2 class="egreso_titulo">Egresos</h2>
  <app-egresos
    *ngFor="let item of egresos; let indice = index"
    [egresos]="item"
    [i]="indice"
    [total]="total"
  ></app-egresos>

  </div>
</div>
